/* Boost rész stílusok */
.boost-container {
    text-align: center;
    margin-top: 50px;
}

.boost-btn {
    padding: 15px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.boost-options {
    display: none;
    margin-top: 20px;
}

.boost-card {
    display: inline-block;
    width: 200px;
    margin: 15px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.boost-card img {
    width: 80%;
    height: auto;
    margin-bottom: 10px;
}

.boost-details {
    display: none;
    margin-top: 30px;
    padding: 20px;
    background-color: #e7e7e7;
    border-radius: 10px;
}

.boost-details p {
    font-size: 18px;
    margin-bottom: 10px;
}

.boost-details button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
